<div class = "row">
  <div class = "span6 offset1">
    <h3>What Does it Do?</h3>
    <table class = "table table-striped table-bordered">
      <tr>
        <td><h4>Tracks Multiple Vehicles</h4></td>
      </tr>
      <tr>
        <td><h4>Assigns Repairs to a Vehicle</h4></td>
      </tr>
      <tr>
        <td><h4>Keeps Notes on Mechanics and other Owner Experiences</h4></td>
      </tr>
    </table>
  </div>
  <div class = "span4 offset1">
    <h3>Sign In</h3>
    <%= form_for("user", :url => user_session_path) do |f| %>
    <%= f.label :email %>
    <%= f.text_field :email %>
    <%= f.label :password %>
    <%= f.password_field :password %><br/>
    <%= f.check_box :remember_me %>
    <%= f.label :remember_me %>
    <%= f.submit 'Sign in' %>
    <%= link_to "Forgot your password?", new_password_path('user') %>
  <% end %>
  </div>
</div>