<div class = "row">
  <div class = "offset1 span4"
  <p><%= link_to "Back to Vehicle List", vehicles_path, class: "btn" %></p>
</div>
</div>
<div class = "row">
  <div class = "offset1 span5 table">
<table class = "table">
  <th><h4><%="#{@vehicle.make}"%></h4></th>
  <th><h4><%="#{@vehicle.model}"%></h4></th>
  <th><h4><%="#{@vehicle.year}"%></h4></th>
</table>
</div>
</div>
  <%= render :partial => 'shared/repair_index' %>
